---
---

@import "no-style-please";

img.icon {
	display: block;
	width: 50%;
	max-width: 200px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

img.features {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

b {
	color: #CB2C2B;
}

a {
	color: black;	
}

h2 {
	line-height: 1.2;
	margin-top: 2.5em;
}

ul {
	line-height: 1.2;
}

p {
	line-height: 1.2;	
}

.download {
	text-align: center;
}

ul.nav-links {
	
}

ul.nav-links li {
}

@media (min-width:900px) {
	ul.nav-links {
		display: block;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		padding: 0px;
	}

	ul.nav-links li {
		display: inline;
		padding-left: 20px;
		padding-right: 20px;
	}
}

// Screenshots gallery

div.screenshots-picker {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-bottom: 1em;
}

div.screenshots-picker a {
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
}

a.selected {
	text-decoration-line: underline;
    text-decoration-color: #CB2C2B;
    text-decoration-thickness: 3px;
}

div.gallery-wrapper {
	width: 100%;
	height: 350px;
	overflow-x: auto;
	overflow-y: hidden;
	
  	white-space: nowrap;
  	display: none;
}

div.active {
	display: block;
}

div.gallery {
  border: 1px solid #fff;

}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.responsive {
  width: 24.99999%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
  }
}

.responsive-ipad {
  width: 44.99999%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .responsive-ipad {
    width: 89.99999%;
  }
}

.responsive-watch {
  width: 34.99999%;
  display: inline-block;
}

@media only screen and (max-width: 700px) {
  .responsive-watch {
    width: 59.99999%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

div.slides p {
	font-size: 0.8em;
	margin-top: 5px;
}

div.slides i {
	font-size: 0.7em;
}

div.slides h4 {
	margin: 0px;
	font-size: 0.9em;
}
